<table class="table table-striped">
  <thead>
  <tr>
    <td><?php echo $this->t("Label"); ?></td>
    <td><?php echo $this->t("Address"); ?></td>
    <td><?php echo $this->t("Coin"); ?></td>
    <td><?php echo $this->t("Date Added"); ?></td>
    <td colspan="2"><?php echo $this->t("Actions"); ?></td>
  </tr>
  </thead>
  <tbody>
  <?php foreach($addresses as $address): ?>
    <?php /* @var $address \LoneSatoshi\Models\AddressBook */ ?>
    <tr>
      <td><?php echo $address->name; ?></td>
      <td><?php echo $address->address; ?></td>
      <td><?php echo $address->get_coin()->name; ?></td>
      <td><?php echo $address->created; ?></td>
      <td><a class="btn btn-danger btn-xs" href="<?php echo $this->url("pay/{$address->address_book_id}/{$address->address}");?>"><?php echo $this->t("Pay"); ?></a></td>
      <td><a class="btn btn-info btn-xs" href="<?php echo $this->url("#fixme"); ?>"><?php echo $this->t("Transactions"); ?></a></td>
    </tr>
  <?php endforeach; ?>
  </tbody>
</table>

<form action="<?php echo $this->url("address-book/add"); ?>" method="post">
  <div class="form-row">
    <label for="name"><?php echo $this->t("Name"); ?>:</label>
    <input id="name" name="name"/>
  </div>
  <div class="form-row">
    <label for="address"><?php echo $this->t("Address"); ?>:</label>
    <input id="address" name="address"/>
  </div>
  <div class="form-row">
    <label for="address"><?php echo $this->t("Coin"); ?>:</label>
    <select id="coin" name="coin">
      <option><?php echo $this->t("Please Select Coin"); ?></option>
      <?php foreach(\LoneSatoshi\Models\Coin::search()->exec() as $coin): ?>
        <option value="<?php echo $coin->coin_id; ?>"><?php echo $coin->name; ?></option>
      <?php endforeach; ?>
    </select>
  </div>
  <div class="form-row">
    <input type="submit"/>
  </div>
</form>