<?php
$cum_btc = 0;
$cum_usd = 0;
$cum_gbp = 0;
$cum_eur = 0;
?>
<a href="<?php echo $this->url("wallets/add"); ?>" class="btn btn-primary btn-lg" role="button"><?php echo $this->t("Add new Wallet"); ?></a>

<table class="table table-striped wallets table-condensed table-hover">
  <thead>
    <tr>
      <td class="coin"><?php echo $this->t("Coin"); ?></td>
      <td colspan="3"><?php echo $this->t("Name & Address"); ?></td>
      <td colspan="6"><?php echo $this->t("Valuation"); ?></td>
      <td colspan="3"><?php echo $this->t("Balance"); ?></td>
      <td colspan="4"><?php echo $this->t("Rate"); ?></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="1">Name</td>
      <td colspan="2">Address</td>
      <td><?php echo $this->t("Track"); ?></td>
      <td><?php echo $this->t("Satoshi"); ?></td>
      <td><?php echo $this->t("BTC"); ?></td>
      <td><?php echo $this->t("USD"); ?></td>
      <td><?php echo $this->t("GBP"); ?></td>
      <td><?php echo $this->t("EUR"); ?></td>
      <td><?php echo $this->t("Confirmed");?></td>
      <td><?php echo $this->t("Unconfirmed");?></td>
      <td></td>
      <?php foreach(array_keys(end($accounts)['rate']) as $name): ?>
        <td><?php echo str_replace(" ", "&nbsp;", $name); ?></td>
      <?php endforeach; ?>
    </tr>
  </thead>
  <tbody>

  <?php foreach($accounts as $account): ?>
    <?php
    $cum_btc += $account['amount']['confirmed_btc'];
    $cum_gbp += $account['amount']['confirmed_gbp'];
    $cum_usd += $account['amount']['confirmed_usd'];
    $cum_eur += $account['amount']['confirmed_eur'];
    ?>

    <tr>
      <td class="coin"><?php echo $account['coin']['name']; ?></td>
      <td class="name">
        <?php echo $account['name']; ?>
      </td>
      <td class="rename">
        <a href="<?php echo $this->url("wallets/rename/{$account['account_id']}"); ?>" class="btn btn-primary btn-xs" title="Rename">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
      <td class="address">
        <?php echo $account['address']; ?>
      </td>
      <td class="valuation">
        <a href="<?php echo $this->url("valuation/{$account['coin']['symbol']}"); ?>" class="btn btn-xs btn-info" title="Track Value">
          <span class="glyphicon glyphicon-stats"></span>
        </a>
      </td>
      <td class="valuation-satoshi" title="Trading BTC Satoshi"><?php echo number_format($account['amount']['satoshi_rate'], 8); ?></td>
      <td class="valuation-btc" title="Equivilent BTC"><?php echo number_format($account['amount']['confirmed_btc'], 8); ?></td>
      <td class="valuation-usd"><?php echo number_format($account['amount']['confirmed_usd'], 2); ?></td>
      <td class="valuation-gbp"><?php echo number_format($account['amount']['confirmed_gbp'], 2); ?></td>
      <td class="valuation-eur"><?php echo number_format($account['amount']['confirmed_eur'], 2); ?></td>
      <td class="confirmed"><?php echo number_format($account['amount']['confirmed'], 8); ?></td>
      <td class="unconfirmed"><?php echo number_format($account['amount']['unconfirmed'], 8); ?></td>
      <td>
        <a href="<?php echo $this->url("transactions/refresh/{$account['account_id']}");?>" class="btn btn-warning btn-xs" title="Refresh">
          <span class="glyphicon glyphicon-refresh"></span>
        </a>
        <a href="<?php echo $this->url("transactions/view/{$account['account_id']}");?>" class="btn btn-info btn-xs" title="Transactions">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
      <?php foreach($account['rate'] as $name => $amount): ?>
        <td class="rate">
          <?php if(number_format($amount, 4) == '0.0000'): ?>
            --
          <?php else: ?>
            <?php echo number_format($amount, 4); ?>
          <?php endif; ?>
        </td>
      <?php endforeach; ?>
    </tr>
  <?php endforeach; ?>
  </tbody>
  <tfoot>
  <tr>
    <td class="coin">Total</td>
    <td class="name" colspan="2"></td>
    <td class="address"></td>
    <td class="valuation"></td>
    <td class="valuation-satoshi"></td>
    <td class="valuation-btc"><?php echo number_format($cum_btc, 8); ?></td>
    <td class="valuation-usd"><?php echo number_format($cum_usd, 2); ?></td>
    <td class="valuation-gbp"><?php echo number_format($cum_gbp, 2); ?></td>
    <td class="valuation-eur"><?php echo number_format($cum_eur, 2); ?></td>
    <td class="confirmed"></td>
    <td class="unconfirmed"></td>
    <td></td>
    <td class="rate rate-month"></td>
    <td class="rate rate-week"></td>
    <td class="rate rate-day"></td>
    <td class="rate rate-hour"></td>
  </tr>
  </tfoot>
</table>