<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <td>System</td>
    <td>Status</td>
    <td>Last Updated</td>
  </tr>
  </thead>
  <tbody>
    <?php foreach($wallets as $wallet): ?>
    <?php /* @var $wallet \LoneSatoshi\Models\Wallet */ ?>
      <tr>
        <td><?php echo $wallet->name; ?></td>
        <td><?php echo $wallet->get_last_system_status()->get_status(); ?></td>
        <td><?php echo $wallet->get_last_system_status()->created; ?></td>
      </tr>
    <?php endforeach; ?>
  </tbody>
</table>