<script type="text/javascript">
  var valuations = <?php echo json_encode($valuations); ?>;
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    console.log(valuations);
    for ( var i = 1; i < valuations.length; i++ ) {
      valuations[i][0] = new Date( valuations[i][0] * 1000 );
      for( var j = 1; j < valuations[i].length; j++){
        valuations[i][j] = Number(valuations[i][j]);
      }
    }
    console.log(valuations);

    var data = google.visualization.arrayToDataTable(valuations);

    var options = {
      title: '<?php echo $valuation_title; ?>'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_valuation'));
    chart.draw(data, options);
  }
</script>

<div id="chart_valuation"></div>


